* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



body {
    background-color:#EED3B1;
}



.one {
    background-color: #10375C;
    padding-top: 5px;
    text-wrap: nowrap;
    overflow: scroll;
}

.a {
    color: white;
    margin-left: 13px;
    text-decoration: none;
}

.one::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.main{
    background-color: #10375C;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 200px;
}
.sub{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.serch{
    width: 450px;
    height: 40px;
    border-radius: 15px;
    border: none;

}
.main input{
    border: none;
    outline: none;
}
.div-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;

  
}
.div-two-html{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    
}
.div-two-a{
    display: flex;
    flex-direction: column;
    gap: 20px;
  padding-bottom: 50px;

}
a{
    text-decoration: none;
}
#a1{
    background-color: #FCFFC1;
    padding-left: 50px;
    padding-right: 50px;
    padding: 10px;
    border-radius: 15px;
    color: black;
   
}
#a2{
    background-color: #F0BB78;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
#a3{
    background-color: #543A14;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
#a4{
    background-color: #1A1A19;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
.three{
    background-color: #E5E1DA;
}
#b1{
    background-color: #A59D84;
    padding: 10px;
    border-radius: 15px;
    color: black;
}
#b2{
    background-color: #EED3B1;
    padding: 10px;
    border-radius: 15px;
    color: black;
}
#b3{
    background-color: #CA7373;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
#b4{
    background-color: #640D5F;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.div-four{
    background-color: #89A8B2;
}
#c1{
    background-color: #F3F3E0;
    padding: 10px;
    border-radius: 15px;
    color: black;
}
#c2{
    background-color: #3B1E54;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
#c3{
    background-color: #3ABEF9;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
#c4{
    background-color: #507587;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
.div-five{
    background-color: white;
}
#d1{
    background-color: #8D0B41;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
#d2{
    background-color: #D39D55;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
#d3{
    background-color: #659287;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
#d4{
    background-color: #FF6500;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

@media screen  and (max-width:720px){
    
    .main{
        background-color: #10375C;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 100px;
    }
    .serch{
        width: 250px;
        height: 30px;
        border-radius: 15px;
        border: none;
    
    }
    .h1{
        font-size: large;
        font-weight: bold;
    }
    
  

}

