* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



body {
    background-color: #f2f9ff;
}



.one {
    background-color: #10375C;
    padding: 5px;
    text-wrap: nowrap;
    overflow: scroll;
}

.a {
    color: white;
    margin-left: 13px;
    text-decoration: none;
}

.one::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.main{
    background-color: #10375C;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 200px;
}
.sub{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.serch{
    width: 450px;
    height: 40px;
    border-radius: 15px;
    border: none;

}
@media screen  and (max-width:720px){
    
    .main{
        background-color: #10375C;
        height: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 200px;
    }
    .serch{
        width: 150px;
        height: 40px;
        border-radius: 15px;
        border: none;
    
    }
    
}
