*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    height: 200vh;
}
.slider{
    display: flex;
    gap: 20px;
    white-space: nowrap;
    overflow: scroll;
    scroll-behavior: smooth;
    background-color: black;
    height: 30px;
    align-items: center;
    z-index: 1;
    
}
.slider{
    position: sticky;
    top: 0px;
    
}
.slider a{
    color: whitesmoke;
    text-decoration: none;
}
#html{
    margin-left: 25px;
}
#last{
    margin-right: 25px;
}

.slider::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.scb{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding-top: 1px;
    z-index: 10;
    background-color: black;
}

.bck{
    padding: 2px;
    padding-right: 2px;
    opacity: 0.8;
}
.fck{
    padding: 2px;
    padding-right: 2px;
    opacity: 0.8;
}

aside{
    height: 91vh;
    overflow-y: scroll;
    width: 250px;
    position: fixed;
    z-index: 1;
}
aside::-webkit-scrollbar{

}

aside ul li{
    font-size: 18px;
    width: 100%;
    
    background-color: rgb(250, 247, 247);
   
    padding-left: 9px;
    
}
#fun{
    display: flex;
    justify-content: center;
}
aside ul li:hover{
    background-color: rgb(139, 138, 138);
}
aside ul li a {
    color: black;
    

}
.listof{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items:left ;
    padding-left: 20px;
    background-color: rgb(245, 248, 250);
    text-decoration: none;
}
.listof a:hover{
    background-color: rgb(146, 148, 150);
    text-decoration: none;
}
#one{
    font-size: 10px;
}
.left{
    padding-left: 300px;
    width: 80%;
    
}
.nav-button-top{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.bfbn{
    padding: 11px;
    background-color: rgb(13, 156, 13);
    color: white;
    border-radius: 5px;
}
.blue-box{
    background-color: rgb(212, 236, 236);
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
    
}
.blue-box p{
    font-size: 18px;
}
.blue-box-con{
    padding-top: 25px;
}
#blue-box-icon{
    font-size: 10px;
}
#lhm{
    background-color:rgb(13, 156, 13);
    padding: 10px;
    color: whitesmoke;
    border-radius: 8px;
    width: 25%;
    
}
.html1{
    height: 5vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.html1 p{
    font-size: 15px;
}
.exam2{
    padding-top: 10px;
    background-color: aquamarine;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.exam-box{
    background-color: white;
    border-left: solid green;
    width: 96%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.Layout{
    color: red;
}
.black{
    color: black;
}
.blue-box-butn{
    padding-top: 15px;
}
#click{
    padding: 10px;
    background-color: rgb(13, 156, 13);
    color: whitesmoke;
    width: max-content;
    border-radius: 5px;

}
.examples{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}
#html-ex{
    padding: 5px;
    background-color: lightslategray;
    color: whitesmoke;
    width: 20%;
    padding-left: 10px;
}
#menu-bar{
    padding: 5px;
    color: whitesmoke;
}
#menu-bar-btn{
    background-color: black;
}
@media screen and (max-width:800px){
    .scb{
        display: none;
    }
    #back{
        display: none;

    }
    #next{
        display: none;
    }
    .aside{
        display: none;
    }
    .left{
        display: flex;
     align-items: center;
     flex-direction: column;
     width: 100%;
     padding-left: 0;
        
    }
    .nav-button-top{
        padding-top: 40px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    #bfbn{
        margin-right: 150px;
    }
    .blue-box p{
        font-size: 14px;
    }
    #lhm{
        background-color:rgb(13, 156, 13);
        padding: 10px;
        color: whitesmoke;
        border-radius: 8px;
        white-space: nowrap;
        width: max-content;
        
    }
    #html{
        margin-left: 0px;
    }
    #menu-bat-btn{
        border: none;
    }
    .exam{
        padding-left: 10px;
    }
    #try{
        font-size: 19px;
        font-weight: 600;
    }
   .exam2{
    padding-top: 5px;
   }
   #thani{
    font-size: 19px;
    padding-left: 10px;
   }
   .examples{
    padding-left: 10px;
   }
   #html-ex{
    white-space: nowrap;
    width: max-content;
   }
   #nfn{
    margin-right: 350px;
   }
   
  

}