*{
    padding: 0px;
    margin: 0px;
}
.nav{
    /* background-color: aqua; */
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}
body{
    background-color: #f2f9ff;
}
.home{
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
}
.home:hover{
    cursor: pointer;
}

.home1{
    border-radius: 10px;
    border: solid black 1px;
    height: 30px;
    margin-right: 15px;

}
.one{
    background-color: #10375C;
    padding: 5px;
    text-wrap: nowrap;
    overflow: scroll;
}
.a{
    color: white;
    margin-left: 13px;
    text-decoration: none;
}
.one::-webkit-scrollbar{
    width: 0;
    height: 0;
}
